.formulario{    
    font-size: 18px;
    margin: 30px auto;
    margin-top: 130px;   
    color: white;
    padding: 30px;
    background-color: rgb(3, 145, 97);
    display: grid;
    row-gap: 10px;    
}
.formulario .dato{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}
.formulario .dato input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white
}
.formulario .dato input:focus{
    border: 0;
    border-bottom: 2px solid white;
    outline: none;
}
.formulario button{
    padding: 10px 15px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
}
