@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&display=swap');
@import "reset";
@import "extends";
@import "mixins";
@import "navegador";
@import "carrousel";
@import "productos";
@import "producto";
@import "galeria";
@import "formulario";
@import "PieDePagina";
@import "queries";